*{
    margin:0%;
    padding:0%;
    

}
section{
    width: 100%;
    height: 100vh;
}
.sec1{
    background-image: url(ff2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 5s;
    padding-top: 5px;
    
    
}

.navbar{
    background-color: black;
    display: flex;
    align-items:center;
    justify-content:left;
    padding-right: 3px;
    padding-bottom: 8px;
    padding-top: 5px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    
   
    
}
.nav-logo{
    height: 50px;
    width: 100px;
    padding-bottom: 17px;
    margin-right: 20px;
}
.logo {
    background-image:url(ff-removebg-preview.png) ;
    background-size: cover;
    height: 50px;
    width: 100%;
    

  /* justify-content:left;
   padding-left: 80px;
    padding-right: 80px;*/

  }
 .border{
    border: 1px solid transparent;
 }
.border:hover{
    border:1px solid white;
}
.c1{

    text-decoration: none;
    color:white;
    padding: 3px;
    
}
.c1:hover{
    transform:translateY(-10px);
    color: rgba(255, 187, 0, 0.918);
}
li{
    list-style-type: none;
    display :inline-block;
    margin-inline: 15px;
}

.bt{
    padding-left: 200px;

} 
.btn {
    background-color: rgb(245, 77, 10);
    text-shadow: 0cm;
    color: black;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(.2);
    transition: transform 0.3s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color:white

}
.btn:hover{
    filter: grayscale(0);  
    transform: scale(1.3);
   
}
.icon{
    padding-right: 4px;
}
select{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
}


.fff{
    display:flex;   
    flex-direction: column;
    align-items:center;
    margin-top: 200px;
    overflow: hidden;
    cursor: pointer;
    filter: grayscale(.4);
    transition: .3s;
 

}

.fff:hover{
   filter: grayscale(0);  
   transform: scale(1.3);
}
.btn2{
    display: flex;
    align-items: center;
    margin-left: 550px;
    margin-bottom: 550px;
}
.sec2{

    background-color: rgb(1, 1, 51);
}