*{
    margin:0%;
    padding:0%;
    

}

body{
    width: 100%;
    background-image:url(background2.avif);
    background-size: cover;
}



.navbar{
    background-color: black;
    display: flex;
    align-items:center;
    justify-content:left;
    padding-right: 3px;
    padding-bottom: 8px;
    padding-top: 5px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    
   
    
}
.nav-logo{
    height: 50px;
    width: 100px;
    padding-bottom: 17px;
    margin-right: 20px;
}
.logo {
    background-image:url(ff-removebg-preview.png) ;
    background-size: cover;
    height: 50px;
    width: 100%;
    

  /* justify-content:left;
   padding-left: 80px;
    padding-right: 80px;*/

  }
 .border{
    border: 1px solid transparent;
 }
.border:hover{
    border:1px solid white;
}
.c1{

    text-decoration: none;
    color:white;
    padding: 3px;
    
}
.c1:hover{
    transform:translateY(-10px);
    color: rgba(255, 187, 0, 0.918);
}
li{
    list-style-type: none;
    display :inline-block;
    margin-inline: 8px;
}

.bt{
    padding-left: 200px;

} 
.btn {
    background-color: rgb(245, 77, 10);
    text-shadow: 0cm;
    color: black;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(.2);
    transition: transform 0.3s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color:white

}
.btn:hover{
    filter: grayscale(0);  
    transform: scale(1.3);
   
}
.icon{
    padding-right: 4px;
}
select{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
}


.info1{
    width: 40%;
     margin-left: 50%;
     color: wheat;
     margin-top: 30px;
     position: relative;
     z-index: -2;
  
 }
 
 
 .p1{
     font-size: 17px;
 
     opacity: .7;
 margin-top: 30px;}
 .gmode{
    background-size: cover;
    background-repeat: no-repeat;
   width: 1150px;
   margin-top: 50PX;
margin-left: 2%;
   width: 80%;
   height: none;
   padding-left: 7%;
   margin-right: 10%;  
    
}
 .info6{
    width: 40%;
     margin-left: 50%;
     color: wheat;
     margin-top: 30px;
     position: relative;
     z-index: -2;
 }
 .line6{
    color: #ff1100;
    font-size: 20px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     right: 0%;
     margin-bottom: 30px;
 }
 .p6{
     font-size: 17px;
 
     opacity: .7;
 margin-top: 30px;}
.info2{
    width: 40%;
     margin-left: 50%;
     color: wheat;
     margin-top: 30px;
     position: relative;
     z-index: -2;
 }
 .line2{
    color: #ff1100;
    font-size: 20px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     right: 0%;
     margin-bottom: 30px;
 }
 .p2{
     font-size: 17px;
 
     opacity: .7;
 margin-top: 30px;}

 .info3{
    width: 40%;
     margin-left: 50%;
     color: wheat;
     margin-top: 30px;
     position: relative;

     z-index: -2;
 }
 .line3{
    color: #ff1100;
    font-size: 20px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     right: 0%;
     margin-bottom: 30px;
 }
 .p3{
     font-size: 17px;
 
     opacity: .7;
 margin-top: 30px;}
 .info4{
    width: 40%;
     margin-left: 50%;
     color: wheat;
     margin-top: 30px;
     position: relative;
     
     z-index: -2;
 }
 .line4{
    color: #ff1100;
    font-size: 20px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     right: 0%;
     margin-bottom: 30px;
 }
 .p4{
     font-size: 17px;
 
     opacity: .7;
 margin-top: 30px;}
 .info5{
    width: 40%;
     margin-left: 50%;
     color: wheat;
     margin-top: 30px;
     position: relative;

     z-index: -2;
 }
 .line5{
    color: #ff1100;
     font-size: 20px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     right: 0%;
     margin-bottom: 30px;
 }
 .p5{
     font-size: 17px;
 
     opacity: .7;
 margin-top: 30px;}
 
 .box2{
    margin-top: 50PX;
    margin-left: 11%;
       width: 84%;
       height: 500px;
       display: flex;
       position: relative;
       z-index: -1;
}
.i1{
    height: 470px;
    width: 340px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 35px;
    margin-top: 25px;
    background-image: url(solo.jpg);
}
.col1{
    height: 100px;
    width: 270px;
    margin-top: 95%;
    display: block;
    margin-left: 12%;


}
.row0{
    display: flex;
    font-size: 40px;
    justify-content: center;
    color: #ff1100;
    font-family: fantasy,serif;
}
.row1, .row2{
    margin-top: 6px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: beige;
}

.i2{
    width: 340px;
    height: 470px;
    background-repeat: no-repeat;
    margin-top: 25px;
    margin-left: 20px;
    background-size: cover;
    background-image: url(ffduo.jpeg);
}.i3{
    height: 470px;
    width: 340px;
    background-size: cover;
    margin-top: 25px;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-image: url(ffsquad.jpg);
}
.foot{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
   bottom: 0%;
   

}
.allfoot{
    display: flex;
    justify-content: center;
    align-items: center;

}

.garenalogo{
    width: 250px;
    height: 90px;
    margin-top: 3%;
    margin-right: 30px;
}
.links{
    margin-top: 4%;
    margin-left: 60px;
    margin-right: 100px;
    font-size: 20px;
    color: white;
    opacity: .6;
}
.endline{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-left: 26%;
    opacity: .7;
}


