*{
    margin:0%;
    padding:0%;
    

}
section{
    width: 100%;
    height: 100vh;
}
body{
    background-image: url(background2.avif);
}
.sec1{
    background-image: url(mapback.webp);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 5s;
    padding-top: 5px;
    z-index: 0;
    
}

.navbar{
    background-color: black;
    display: flex;
    align-items:center;
    justify-content:left;
    z-index: 0;
    padding-right: 3px;
    padding-bottom: 8px;
    padding-top: 5px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    
   
    
}
.nav-logo{
    height: 50px;
    width: 100px;
    padding-bottom: 17px;
    margin-right: 20px;
}
.logo {
    background-image:url(ff-removebg-preview.png) ;
    background-size: cover;
    height: 50px;
    width: 100%;
    

  /* justify-content:left;
   padding-left: 80px;
    padding-right: 80px;*/

  }
 .border{
    border: 1px solid transparent;
 }
.border:hover{
    border:1px solid white;
}
.c1{

    text-decoration: none;
    color:white;
    padding: 3px;
    
}
.c1:hover{
    transform:translateY(-10px);
    color: rgba(255, 187, 0, 0.918);
}
li{
    list-style-type: none;
    display :inline-block;
    margin-inline: 8px;
}

.bt{
    padding-left: 200px;

} 
.btn {
    background-color: rgb(245, 77, 10);
    text-shadow: 0cm;
    color: black;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(.2);
    transition: transform 0.3s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color:white

}
.btn:hover{
    filter: grayscale(0);  
    transform: scale(1.3);
   
}
.icon{
    padding-right: 4px;
}
select{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
}


.info{
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    margin-left: 20%;
}
.line{

    font-size: 100px;
    color: rgb(14, 13, 13);
    font-family: fantasy;
border-bottom: 8px solid rgb(255, 157, 0);}


    
.sec2{
    margin-top: 30px;
    width: 84%;
   margin-left: 7%;
   background-color: black;
    height: none;

}

.cards{
    display: inline-block;
    width: 520px; 
    height: 520px;
    margin-inline: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 25px;

}
.forimg{
    height: 520px;
    width: 520px;
    background-repeat: no-repeat;
    background-size: cover;
}
.n{
    margin-left: 170px;
  font-size: 30px;  
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
}
.foot{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
   margin-bottom: 1opx;
   bottom: 0%;

}
.allfoot{
    display: flex;
    justify-content: center;
    align-items: center;

}

.garenalogo{
    width: 250px;
    height: 90px;
    margin-top: 3%;
    margin-right: 30px;
}
.links{
    margin-top: 4%;
    margin-left: 60px;
    margin-right: 100px;
    font-size: 20px;
    color: white;
    opacity: .6;
}
.endline{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-left: 26%;
    opacity: .7;
}




/*

*{
    margin:0%;
    padding:0%;
    

}
section{
    width: 100%;
    height: 100vh;
}
.sec1{
    width: 100%;
    height: 100vh;
    background-image: url(ff2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 5s;
    padding-top: 5px;
    
    
}

.navbar{
    background-color: black;
    display: flex;
    align-items:center;
    justify-content:left;
    padding-right: 3px;
    padding-bottom: 8px;
    padding-top: 5px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    
   
    
}
.nav-logo{
    height: 50px;
    width: 100px;
    padding-bottom: 17px;
    margin-right: 20px;
}
.logo {
    background-image:url(ff-removebg-preview.png) ;
    background-size: cover;
    height: 50px;
    width: 100%;
    

  /* justify-content:left;
   padding-left: 80px;
    padding-right: 80px;

  
 .border{
    border: 1px solid transparent;
 }
.border:hover{
    border:1px solid white;
}
.c1{

    text-decoration: none;
    color:white;
    padding: 3px;
    
}
.c1:hover{
    transform:translateY(-10px);
    color: rgba(255, 187, 0, 0.918);
}
li{
    list-style-type: none;
    display :inline-block;
    margin-inline: 8px;
}

.bt{
    padding-left: 200px;

} 
.btn {
    background-color: rgb(245, 77, 10);
    text-shadow: 0cm;
    color: black;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(.2);
    transition: transform 0.3s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color:white

}
.btn:hover{
    filter: grayscale(0);  
    transform: scale(1.3);
   
}
.icon{
    padding-right: 4px;
}
select{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
}




.info{
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    margin-left: 20%;
}
.line{

    font-size: 100px;
    color: rgb(14, 13, 13);
    font-family: fantasy;
border-bottom: 8px solid rgb(255, 157, 0);}
.sec2{
    width: 100%;
  
    height: none;

}
.cont{
    display: inline-block;
    position: relative;
    width: 80%;
    margin-top: 20px;
}
.cards{
    display: inline-block;
    width: 500px; 
    height: 500px;
    margin-inline: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    position:relative;
    z-index: -2px;

}
.forimg{
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}
.n{
  font-size: 30px;  
  color: white;
}
