*{
    margin:0%;
    padding:0%;
    

}
section{
    width: 100%;
    height: 100vh;
}
body{
    background-image: url(charback.webp);
}
.sec1{
    background-image: url(pet.avif);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 5s;
    padding-top: 5px;
    z-index: 0;
    
}

.navbar{
    background-color: black;
    display: flex;
    align-items:center;
    justify-content:left;
    padding-right: 3px;
    padding-bottom: 8px;
    padding-top: 5px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    z-index: 0;
   
    
}
.nav-logo{
    height: 50px;
    width: 100px;
    padding-bottom: 17px;
    margin-right: 20px;
}
.logo {
    background-image:url(ff-removebg-preview.png) ;
    background-size: cover;
    height: 50px;
    width: 100%;
    

  /* justify-content:left;
   padding-left: 80px;
    padding-right: 80px;*/

  }
 .border{
    border: 1px solid transparent;
 }
.border:hover{
    border:1px solid white;
}
.c1{

    text-decoration: none;
    color:white;
    padding: 3px;
    
}
.c1:hover{
    transform:translateY(-10px);
    color: rgba(255, 187, 0, 0.918);
}
li{
    list-style-type: none;
    display :inline-block;
    margin-inline: 8px;
}

.bt{
    padding-left: 200px;

} 
.btn {
    background-color: rgb(245, 77, 10);
    text-shadow: 0cm;
    color: black;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(.2);
    transition: transform 0.3s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color:white

}
.btn:hover{
    filter: grayscale(0);  
    transform: scale(1.3);
   
}
.icon{
    padding-right: 4px;
}
select{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
}


.sec2{

   width: 100%;
   height: 100vh;
}
.cards{
    display:inline-block;
    margin-left: 90px;
    margin-top: 50px;
    width:225.41px;
    height: 390px;
    clip-path: polygon(0 6%, 5% 0, 21% 0, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 94%, 95% 100%, 15% 100%, 0 100%, 0% 85%);
    transition: 1s;


}




.cards:hover{
    transform: scale(1.2);
    backdrop-filter: blur(20px);
    background-color: hsla(187, 45%, 22%, 0.1);
    box-shadow: 0 6px 20px rgba(80, 144, 204, 0.5);
    clip-path: none;
    
}

.forhover{
    height: 0%;
}




.cards:hover .forhover{
    height: 350px;

    color: white;

}







.image{
    height: 280px;
    clip-path: polygon(0 6%, 5% 0, 21% 0, 85% 0%, 100% 0, 100% 15%, 100% 96%, 100% 100%, 81% 100%, 71% 96%, 0 96%, 0 84%);
    background-color: rgb(45, 59, 70);

}
.cards:hover .image{
   /* border: 2px solid rgb(252, 195, 9);
    height: 200px;
    background-position: center;*/
    height: 0%;
    

}


.image .forimg
{
    height: 100%;
    width: 100%;

}
.cards:hover .forimg{
    height: 0%;
}


.info{
    width: 220px;
    background-color: aliceblue;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 70% 0, 80% 5%, 100% 5%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
    height: 80px;
    flex-direction: column;
    bottom: 0%;
    padding-left: 5%;
}
.cards:hover .info{

    height: 0%;
    clip-path: none;
    display: flex;
    position: absolute;


}
.name{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 4px;
    

    
}
.cards:hover .name{
    height: 0%;
    opacity: 0;
}

.prof{
    font-size: 14px ;
    padding-top: 5px;
}
.cards:hover .prof{
    height: 0%;
    opacity: 0;
}
.forpng{
    margin: 2px;
    height: 45px;
}
.line1{
    opacity: .6;
    font-size: 10px;
    margin-bottom:6px;
    
}
.towlines{
    margin-left: 20px;
    margin-top: 0%;
}
.top{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px ;
  border-bottom: 2px solid rgb(243, 135, 12) ;
  
}
.line3{
    margin: 20px;
}

.foot{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
   margin-bottom: 1opx;
   bottom: 0%;

}
.allfoot{
    display: flex;
    justify-content: center;
    align-items: center;

}

.garenalogo{
    width: 250px;
    height: 90px;
    margin-top: 3%;
    margin-right: 30px;
}
.links{
    margin-top: 4%;
    margin-left: 60px;
    margin-right: 100px;
    font-size: 20px;
    color: white;
    opacity: .6;
}
.endline{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-left: 26%;
    opacity: .7;
}


