*{
    margin:0%;
    padding:0%;
    

}
body
{
  background: url(background3.jpg);
  width: 100%;
  height: 100vh;
}
section{
    width: 100%;
    height: 100vh;
}
.sec1{
    background-image: url(ffback4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 10s;
    padding-top: 20px;
    border-bottom: 8px solid rgb(216, 214, 214);
    z-index: -1;
    
    
    
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 93%, 91% 93%, 86% 100%, 14% 100%, 8% 93%, 0 93%);
    
    animation-name:animate;
    animation-direction:alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-play-state:running;
    animation-timing-function: ease-in-out;
}
@keyframes animate
{
    0%{background-image:url(ff.jpg);}
    20%{background-image:url(fback.jpg);}
    40%{background-image:url(ffback2.jpeg);}
    60%{background-image:url(ff3.jpg);}
    80%{background-image:url(ff4.jpg);}
    100%{background-image:url(ffback4.jpeg);}
}


.navbar{
    background-color: black;
    display: flex;
    align-items:center;
    justify-content:left;
    padding-right: 3px;
    padding-bottom: 8px;
    padding-top: 5px;
    position: fixed;
    z-index: 1;
    top: 0%;
    right: 0%;
    left: 0%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    
   
    
}
.nav-logo{
    height: 50px;
    width: 100px;
    padding-bottom: 17px;
    margin-right: 20px;
}

.logo {
    background-image:url(ff-removebg-preview.png) ;
    background-size: cover;
    height: 50px;
    width: 100%;
    

  /* justify-content:left;
   padding-left: 80px;
    padding-right: 80px;*/

  }
 .border{
    border: 1px solid transparent;
 }
.border:hover{
    border:1px solid white;
}
.c1{

    text-decoration: none;
    color:white;
    padding: 3px;
    
}
.c1:hover{
    transform:translateY(-10px);
    color: rgba(255, 187, 0, 0.918);
}
li{
    list-style-type: none;
    display :inline-block;
    margin-inline: 8px;
}

.bt{
    padding-left: 200px;

} 
.btn {
    background-color: rgb(245, 77, 10);
    text-shadow: 0cm;
    color: black;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(.2);
    transition: transform 0.3s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color:white

}
.btn:hover{
    filter: grayscale(0);  
    transform: scale(1.3);
   
}
.icon{
    padding-right: 4px;
}
select{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.fff{
    display:flex;   
    flex-direction: column;
    align-items:center;
    margin-top: 200px;
    overflow: hidden;
    cursor: pointer;
    filter: grayscale(.4);
    transition: .3s;
    border-bottom: 1px dashed white;
    position: relative;
    z-index: -1;
}

.fff:hover{
   filter: grayscale(0);  
   transform: scale(1.3);
}
.gplay-bor{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 550px;
    padding-left: 10px;
}
.audi{
    margin-top: 10px;
    height:15px ;
    color:black;
    margin-left: 39%;
}

.sec2{
    
    border: 2px solid rgba(245, 186, 26, 0.966);
    width: 99.5%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}


     
   
main{
    width: 100%;
    height: 500px;
    display: flex;
    gap: 15px;
    color: white;
    justify-content: center;
    
   

}
.card{
    border: 2px solid white;
    width:45%;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 3px black;
    transition: 1s;

    animation-name:animate;
    animation-direction:alternate-reverse;
    animation-duration: 20s;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-play-state:running;
    animation-timing-function: ease-in-out;

}
.card:hover{
    width: 100%;
}
.images{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.backimg{
    border: 6px solid #f5ba1af6;
    width: 82%;
    height: 80%;
    align-items: center;
    justify-content: center;
}
.card .layer{
    
    width: 100%;
    height: 50%;
    margin-top: -250px;
    position: relative;
    background: linear-gradient(to-top, rgba(0,0,0,0.9), transparent);
    
}
.card .layer .para{
    width: 600px;
    position: absolute;
    bottom: 10px;
    padding: 20px;
    opacity: 0;
    color:white;
    margin-left: 60px;
    
    
}
.card:hover .layer .para{
    opacity: 1;
}
.pnglogo{
    margin-left: 80px;
    border-bottom: 2px dashed white;
    padding: 20px;
}
.sec3{
    width: 100%;
    height: 100vh;
    border:transparent;
}
.forvid{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: -1;

}
.slider{

    width: 100%;
    height: 100vh;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    opacity: .5;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.charback{
    background-color: black;
    overflow: hidden;
}

.slider .text1{
    display: flex;
    font-size: 150px;
    background:white;
    white-space: nowrap;
    animation: slide 160s linear infinite;
    font-family:fantasy cooperplate;
    font-style: oblique 90deg;
    -webkit-background-clip:text;

    -webkit-text-stroke: 0.20rem transparent;

}
@keyframes slide{
    0%{transform:translateX(0%);}
    100%{transform: translateX(-100%);}
}
.slider .text2{
    
    display: flex;
    font-size: 150px;
    background:white;
    white-space: nowrap;
    animation: slide1 160s linear infinite;
    font-family:fantasy cooperplate;
    -webkit-background-clip:text;
    font-style: oblique 90deg;
    -webkit-text-stroke: 0.20rem transparent;

}
@keyframes slide1{
    0%{transform:translateX(-0%);}
    100%{transform: translateX(100%);}
}


.vidback{
    width:80%;
    height: 80%;
    border: 1px dashed transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 120px;
    position: absolute;
}
.vid{
    
    display: flex;
    justify-content: center;
    position: absolute;
    border: 2px solid white ;
    border-radius: 15%;

}
.sec4{
    width: 100%;
    height: 100vh;

    background-color: white;
    clip-path: polygon(0 6%, 7% 6%, 13% 0, 74% 0, 83% 6%, 100% 6%, 100% 85%, 100% 100%, 85% 100%, 14% 100%, 11% 95%, 0 95%);
    display: flex;
    position: relative;
    

}
.forallchar{
    display: flex;
    position: absolute;
    right: 4%;
    top: 10%;
    font-family: fantasy;
    font-size: 20px;
    color: black;
    
}
.chooseC{
    display: flex;
    position: absolute;
    right: 4%;
    bottom: 30%;
    flex-direction: column;
}
.line1{

    font-family: fantasy;
    font-size: 80px ;
    color: black;
    margin-bottom: 60px;
    padding-bottom: 20px;
    border-bottom: 8px solid #fc9208;
}
.line2{
    font-size: 25px;


}


.sec4::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(garena-free-fire-max.jpg);
    clip-path: polygon(0 6%, 7% 6%, 13% 0, 74% 0, 83% 6%, 100% 6%, 100% 85%, 100% 100%, 85% 100%, 14% 100%, 11% 95%, 0 95%);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;

}
.pimg{
   
    display: flex;
    position: absolute;
    height: 580px;
    object-fit: cover;
    bottom: 0%;
    left: 6%;
}
.ico{
    color:#fc9208;
    padding-right:4px;

}
.sec5{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(events.jpg);
    clip-path: polygon(0 14%, 0 0, 15% 0%, 80% 0, 85% 6%, 100% 6%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    border-top: 4px solid rgb(71, 29, 168);
}
.event{
    margin-top: 9%;
    margin-left: 5%;
}
.l1{
    font-size: 80px;
    font-family: fantasy;
    margin-bottom: 15px;
    border-bottom: 8px solid rgb(252, 155, 9) ;
}
.l2{
    font-size: 23px;
    font-weight: bold;
    margin-top: 25px;
}
.l3{
    
    font-size: 19px;
    font-weight: bold;
    color:black;
    opacity: .7;
    margin-top: 10px;
}
.foot{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
   margin-bottom: 1opx;
   bottom: 0%;

}
.allfoot{
    display: flex;
    justify-content: center;
    align-items: center;

}

.garenalogo{
    width: 250px;
    height: 90px;
    margin-top: 3%;
    margin-right: 30px;
}
.links{
    margin-top: 4%;
    margin-left: 60px;
    margin-right: 100px;
    font-size: 20px;
    color: white;
    opacity: .6;
}
.endline{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-left: 26%;
    opacity: .7;
}

    


/*.wrapper{
   
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.card{
    width: 200px;
    border-radius: 75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);

}
.card  .row{
    color: white;
    display: flex;
    flex-wrap: nowrap;

}
.card  .row  .icon1{
   background: #223;
   color: white;
   border-radius: 50%;
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 15px;

}
.card  .row  .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height:80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition:all .3s ease;

}
.description h2{
    text-transform: uppercase;
}
input{
    display: none;
}
input:checked + lable{
    width: 600px;
}
input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.card[for="c1"]{
    background-image: url('./freefire1.jpg');
}
.card[for="c2"]{
    background-image: url('./freefire.jpg');
}









/*.forsec{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
height: 400px;
width: 1200px;
background: rgb(2, 2, 68);
box-shadow: 0 25px 30px transparent;
display: flex;
}
.s1{
    width: 50%;
    height: 100%;
    background:transparent;
    box-sizing: border-box;
    
}
.imgbox{
    width: 50%;
    height: 100%;
    background: rgb(255, 187, 0);
    box-sizing: border-box;
    border-left: 100px solid #000;
    border-bottom: 400px solid transparent;
    background: url(s2.jpg);

}
/*
.forsec{
    width: 100%;
    height: 100%;
   /* display: flex;
    flex-direction: row;
    background: rgb(17, 17, 48);
    margin-top: 20px;
    background:rgb(23, 22, 95);
    position: relative;
    overflow: hidden;
}
.forsec::before{
    content: '';
    position: absolute;
    left: -6.1em;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    background: rgb(23, 22, 95);
    width: 50%;
    height: 140%;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
.sckewed-right.forsec::before{
    transform: translateY(-50%) rotate(-20deg);
    left: initial;
    right: -6.1em;
}*/

/*
.s1{
    width: 60%;
    height: 100%;
    background:rgb(23, 22, 95);
    position: relative;
    overflow: hidden;
}
.s1::before{
    content: '';
    position: absolute;
    left: -6.1em;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    background: rgb(23, 22, 95);
    width: 40%;
    height: 140%;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
.sckewed-right.s1::before{
    transform: translateY(-50%) rotate(-20deg);
    left: initial;
    right: -6.1em;
}
.s2{
    width:40%;
    height: 100%;
    background: rgb(23, 22, 95);


    
    
}*/



/*.f-logo{
    background-image: url(f.png);
   
    height: 150px;
    width: 1000px;
  
     
}*/
/*.photo{
    padding-bottom: 200px;
}*/

/*::-webkit-scrollbar{
    width: 0;
}

#progressbar{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 15px;
    
    border-radius: 10px;
    background: linear-gradient(to top,#fcb045,#fd1d1d,#833ab4);
}
   /* .progress-container {
        width: 100%;
        height: 5px;
        background-color: #f1f1f1;
    }
    
    .progress-bar {
        height: 100%;
        background-color: #4caf50;
        width: 0%;
    }*/
