*{
    margin:0%;
    padding:0%;
    

}
body{
    background-color:     #cccccf



    ;
}
section{
    width: 100%;
    height: 100vh;
}
.sec1{
    background-image: url(gun.jpg);
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 5s;
    padding-top: 5px;
    
    
}

.navbar{
    background-color: black;
    display: flex;
    align-items:center;
    justify-content:left;
    z-index: 1;
    padding-right: 3px;
    padding-bottom: 8px;
    padding-top: 5px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    
   
    
}
.nav-logo{
    height: 50px;
    width: 100px;
    padding-bottom: 17px;
    margin-right: 20px;
}
.logo {
    background-image:url(ff-removebg-preview.png) ;
    background-size: cover;
    height: 50px;
    width: 100%;
    

  /* justify-content:left;
   padding-left: 80px;
    padding-right: 80px;*/

  }
 .border{
    border: 1px solid transparent;
 }
.border:hover{
    border:1px solid white;
}
.c1{

    text-decoration: none;
    color:white;
    padding: 3px;
    
}
.c1:hover{
    transform:translateY(-10px);
    color: rgba(255, 187, 0, 0.918);
}
.one{
    list-style-type: none;
    display :inline-block;
    margin-inline: 15px;
}

.bt{
    padding-left: 200px;

} 
.btn {
    background-color: rgb(245, 77, 10);
    text-shadow: 0cm;
    color: black;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(.2);
    transition: transform 0.3s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color:white

}
.btn:hover{
    filter: grayscale(0);  
    transform: scale(1.3);
   
}
.icon{
    padding-right: 4px;
}
select{
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.vapour{
    width: 100%;
    bottom: 0%;
    display: flex;
    position: absolute;
    z-index: 0;
}
.vapour .vap{
    height: 200px;
    bottom: 50px;
    left: 5%;
    display:flex;
    position: relative;
    z-index: 0;
    margin: 0 2px 5px;
    min-width: 10px;
    border-right: 2px solid white;
    border-radius: 50%;
    filter: blur(5px);

    animation: animate 5s linear infinite;
    animation-delay: calc(var(--i)*-0.5s);

}
@keyframes animate{
    0%{
        transform: translateY(0) scaleX(2);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    25%{
        transform:translateY(-50px) scaleX(30) ;
    }
    50%{
        opacity: 0;
    }
    70%{
        transform:translateY(-350px) scaleX(40) ;

    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translateY(-500px) scaleX(50) ;
    }

}
.vapour{
    width: 100%;
    bottom: 0%;
    display: flex;
    position: absolute;
    z-index: 0;
}
.vapour .vap{
    height: 200px;
    bottom: 50px;
    left: 5%;
    display:flex;
    position: relative;
    z-index: 0;
    margin: 0 2px 5px;
    min-width: 10px;
    border-right: 2px solid white;
    border-radius: 50%;
    filter: blur(5px);

    animation: animate 5s linear infinite;
    animation-delay: calc(var(--i)*-0.5s);

}
@keyframes animate{
    0%{
        transform: translateY(0) scaleX(2);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    25%{
        transform:translateY(-50px) scaleX(30) ;
    }
    50%{
        opacity: 0;
    }
    70%{
        transform:translateY(-350px) scaleX(40) ;

    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translateY(-500px) scaleX(50) ;
    }

}
.vapour{
    width: 100%;
    bottom: 0%;
    display: flex;
    position: absolute;
    z-index: 0;
}
.vapour .vap{
    height: 200px;
    bottom: 50px;
    left: 5%;
    display:flex;
    position: relative;
    z-index: 0;
    margin: 0 2px 5px;
    min-width: 10px;
    border-right: 2px solid white;
    border-radius: 50%;
    filter: blur(5px);

    animation: animate 5s linear infinite;
    animation-delay: calc(var(--i)*-0.5s);

}
@keyframes animate{
    0%{
        transform: translateY(0) scaleX(2);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    25%{
        transform:translateY(-50px) scaleX(30) ;
    }
    50%{
        opacity: 0;
    }
    70%{
        transform:translateY(-350px) scaleX(40) ;

    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translateY(-500px) scaleX(50) ;
    }

}
.vapour{
    width: 100%;
    bottom: 0%;
    display: flex;
    position: absolute;
    z-index: 0;
}
.vapour .vap{
    height: 200px;
    bottom: 20px;
    left: 5%;
    display:flex;
    position: relative;
    z-index: 0;
    margin: 0 2px 5px;
    min-width: 20px;
    border-right: 2px solid white;
    border-radius: 50%;
    filter: blur(5px);

    animation: animate 5s linear infinite;
    animation-delay: calc(var(--i)*-0.5s);

}
@keyframes animate{
    0%{
        transform: translateY(0) scaleX(2);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    25%{
        transform:translateY(-50px) scaleX(30) ;
    }
    50%{
        opacity: 0;
    }
    70%{
        transform:translateY(-350px) scaleX(40) ;

    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translateY(-500px) scaleX(50) ;
    }

}
.vapour1{
    width: 100%;
    bottom: 0%;
    display: flex;
    position: absolute;
    z-index: 0;
}
.vapour1 .vap1{
    height: 300px;
    bottom: 0%;
    left: 40%;
    display:flex;
    position: relative;
    z-index: 0;
    margin: 0 1px;
    min-width: 20px;
    border-right: 2px solid white;
    border-radius: 50%;
    filter: blur(7px);

    animation: animate1 5s linear infinite;
    animation-delay: calc(var(--i)*-0.5s);

}
@keyframes animate1{
    0%{
        transform: translateY(0) scaleX(2 ,-2);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    25%{
        transform:translateY(-50px) scaleX(40 -40) ;
    }
    50%{
        opacity: 0;
    }
    70%{
        transform:translateY(-350px) scaleX(60 -60) ;

    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        transform: translateY(-500px) scaleX(90) ;
    }
}

.sec2{

    width: 100%;
    height:100vh ;

}
.main{
    margin-left: 10%;
    margin-right:10% ;
}
.nav2{
    width: 100%;
    height: 60px;
    background-color: rgb(63, 62, 62);
    margin-top: 30px;
    display: flex;
    position: relative;
    z-index: -1;
    align-items: center;
    justify-content: center;
}
.c2{

    text-decoration: none;
    color:white;
    opacity: .7;
    margin-left: 10px;
    font-size: 12px;
    
}
.c2:hover{
    transform:translateY(-10px);
    color: rgba(255, 187, 0, 0.918);
}
.two{
    list-style-type: none;
    display :inline-block;
    margin-inline: 20px;
    
}
h4{
    margin-left: 5px;
}
.card-cont{
    background-color:     #ffdfff

    ;
    position: relative; 
    display:inline-block;   
    margin-inline: 13px;
    align-items: center;
    justify-content: center;
    width:270px;
    height: 472px;
    clip-path: polygon(0 6%, 5% 0, 21% 0, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 94%, 95% 100%, 15% 100%, 0 100%, 0% 85%);
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    z-index: -1;
    right:0;

}
h3{
    padding-top: 10px;
    font-size: 20px;
    font-family: sans-serif;

}
.forpng{
    height: 100px;
    width: 270px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 20px;
    background-image: url(background3.jpg);
    
}
.info{
    font-size: 10px;
}
.i{
    font-size: 8.2px;
    font-family: "GFF latin",sans-serif;
    
    box-shadow: 1px 1px 1px 2px rgba(54, 61, 68, 0.5);
    margin-inline: 10px;
    margin-left: 0%;
    margin-top: 6px;
    padding: 3px;
}
.box1{
    margin-top: 60px;
    margin-left: 3%;
    margin-right: 3%;
    background-color:#ffffff;
}
.box2{
    margin-top: 60px;
    margin-left: 3%;
    margin-right: 3%;
    background-color:#ffffff;
}
.atribute{
    height: 20px;
    font-size: 11.5px;
    font-family: "GFF latin",sans-serif;
    border-bottom: 2px solid rgb(255, 145, 0) ;
margin-bottom: 10px;
}
.attributes{
    height: 15px;
    width: 90px;
    font-size: 9.5px;
    display: inline-block;
    font-family: "GFF latin",serif;
    margin-inline: 15px;
    margin-top: 15px;
    

}
.cont{
    margin-top: 4px;
    height: 4px;
    box-shadow: .2px .3px .3px .3px #363d4480;
    width: 88px;
}
.box1 .per1{
    width: 20px;
    height: 4px;
    background-color: rgb(194, 40, 255);
 
}
  .box2 .per1{
   width: 56px;
   height: 4px;
   background-color: rgb(194, 40, 255);
   
}
.box2 .per2 ,.box2 .per6{
    width: 58px;
    height: 4px;
    background-color: rgb(194, 40, 255);
    
 }
 .box2 .per3{
    width: 65px;
    height: 4px;
    background-color: rgb(255, 198, 40);
    
 }
 .box2 .per4{
    width: 48px;
    height: 4px;
    background-color: rgb(194, 40, 255);
    
 }

 .box2 .per5{
    width: 30px;
    height: 4px;
    background-color: rgb(194, 40, 255);
    
 }
 .box2 .per7{
    width: 63px;
    height: 4px;
    background-color: rgb(194, 40, 255);
    
 }