*{
    margin:0%;
    padding:0%;
    

}
body{
    background-image: url(background2.avif);

}
.sec1{
    background-image: url(vidsec1.jpg) ;
    width: 100%; 
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 5s;
    padding-top: 5px;
    z-index: 0;
    
}

.navbar{
    background-color: black;
    display: flex;
    align-items:center;
    justify-content:left;
    padding-right: 3px;
    padding-bottom: 8px;
    padding-top: 5px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
    z-index: 0;
   
    
}
.nav-logo{
    height: 50px;
    width: 100px;
    padding-bottom: 17px;
    margin-right: 20px;
}
.logo {
    background-image:url(ff-removebg-preview.png) ;
    background-size: cover;
    height: 50px;
    width: 100%;
    

  /* justify-content:left;
   padding-left: 80px;
    padding-right: 80px;*/

  }
 .border{
    border: 1px solid transparent;
 }
.border:hover{
    border:1px solid white;
}
.c1{

    text-decoration: none;
    color:white;
    padding: 3px;
    
}
.c1:hover{
    transform:translateY(-10px);
    color: rgba(255, 187, 0, 0.918);
}
li{
    list-style-type: none;
    display :inline-block;
    margin-inline: 8px;
}

.bt{
    padding-left: 200px;

} 
.btn {
    background-color: rgb(245, 77, 10);
    text-shadow: 0cm;
    color: black;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    filter: grayscale(.2);
    transition: transform 0.3s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color:white

}
.btn:hover{
    filter: grayscale(0);  
    transform: scale(1.3);
   
}
.icon{
    padding-right: 4px;
}
select{
    background-color: black;
    color: white;
    display: flex;

    flex-direction: row;
    align-items: center;
}



.vid1{
    color: white;
    font-family: fantasy;
    margin-top: 9%;
    z-index: -2;
    margin-left: 10%;
}
.youvid{
    margin-top: 20px;
}
.info1{
    font-size: 20px;
    opacity: .7;
}
.info2{
    font-size: 40px;
}
.info4{
    font-weight: bolder;
    color: rgb(255, 196, 0);
    margin-left: 10px;
    margin-right: 10px;
}

.sec2{
    margin-top: 20px;
    margin-left: 6%;
    width: 88%;
    height: none;
    background-color: black;
    z-index: -1;
}

.container{
    color: white;
    display: inline-block;
    margin-inline-start: 20px;
    width: 360px;
    height: 270px;
    font-family: fantasy;
    margin-top: 20px;
    z-index: 0;
}
.ifra{
    width: 360px;
    height: 200px;
}
.l2{
    font-size: 17px;
    font-family: serif;
    opacity: .6;

}
.l3{
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 174, 0);
}
.l1{
    margin-top: 5px;
    font-size: 18px;
    margin-top: 5px;
}
.foot{
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
   margin-bottom: 1opx;
   bottom: 0%;

}
.allfoot{
    display: flex;
    justify-content: center;
    align-items: center;

}

.garenalogo{
    width: 250px;
    height: 90px;
    margin-top: 3%;
    margin-right: 30px;
}
.links{
    margin-top: 4%;
    margin-left: 60px;
    margin-right: 100px;
    font-size: 20px;
    color: white;
    opacity: .6;
}
.endline{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-left: 26%;
    opacity: .7;
}


